<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- basic responsive setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../styles/main.css" /> -->
    <!-- <link rel="icon" href="../public/images/heros/hero-image_1.jpg" /> -->
    <title>FoodFinder/></title>
  </head>
  <body>
    <a href="#cards" class="skip-to-content">Skip to Content</a>
    <div class="wrapper">
      <!-- NAVBAR START -->
      <header id="navbar">
        <div class="container">
          <!-- col 1, brand -->
          <div class="brand">
            <a href="#">FoodFinder/></a>
          </div>
          <!-- col 2, navigasi menu -->
          <div class="hamburger-menu">
            <button id="hamburger" name="hamburger" type="button">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <!-- float nav-menu -->
            <nav id="nav-menu" class="hidden">
              <ul>
                <li><a href="#" class="home">Home</a></li>
                <li><a href="#" class="favorite">Favorite</a></li>
                <li>
                  <a
                    href="https://www.linkedin.com/in/noprizal"
                    target="_blank"
                    class="aboutus"
                    >About Us</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!-- NAVBAR END -->

      <!-- HERO START -->
      <section id="hero">
        <div class="container">
          <div class="hero-image">
            <img
              tabindex="0"
              src="images/heros/hero-image_1.jpg"
              alt="hero image"
            />
          </div>
        </div>
      </section>
      <!-- HERO END -->

      <!-- CARDS START -->
      <section id="cards">
        <div class="container">
          <h2 class="cards-title" tabindex="0">Explore Restaurant</h2>
          <div class="cards-wrapper"></div>
        </div>
      </section>
      <!-- CARDS END -->

      <!-- SHORTCUT TO TOP -->
      <div class="to-top">
        <a href="#">🔝</a>
      </div>

      <!-- FOOTER START -->
      <footer id="footer">
        <p class="footer-title" tabindex="0">
          Copyright &copy; 2022 -
          <a href="https://www.instagram.com/_kkbwk" tabindex="0">Noprizal</a>
        </p>
      </footer>
      <!-- FOOTER END -->
    </div>

    <!-- <script src="../scripts/index.js"></script> -->
  </body>
</html>
